{% extends 'scolar/base.html' %}
{% load crispy_forms_tags bootstrap4 %}

{% block content %}
  {% if validlink %}
    <h3>Changement du mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Changer</button>
    </form>
  {% else %}
    <p class="alert alert-warning">
    	Le lien de ré-initialisation du mot de passe est invalide, il a peut être expiré. Merci de refaire l'opération de changement du mot de passe.
    </p>
  {% endif %}
{% endblock %}