{% extends 'scolar/base.html' %}
{% load crispy_forms_tags bootstrap4 %}

{% block content %}
  <p class="alert alert-info">
    On vous a envoyé des instructions pour ré-initialiser votre mot de passe, si un compte associé à l'adresse email indiquée existe, vous devriez les recevoir dans un moment.
  </p>
  <p class="alert alert-warning">
    Si vous ne recevez pas l'email, merci de vérifier que vous avez bien entré votre email avec lequel vous êtes inscrits sur Talents et vérifiez qu'il n'est pas mis dans le dossier des spams.
  </p>
{% endblock %}