/root
.project
.pydevproject
__pycache__/
/media/photos
/media/quittances
/media/tmp
/media/admin/sig*
/media/admin/Sig*
/media/admin
/media/files
/SMS/settings.py
/scolar/migrations
/scolar/__pycache__/
*.sqlite3
/docker_tmp
/postgres_data
*.swp
/nginx
/.env
/db.json
/secret
/cache
.idea/
/execution.bat
/DB-*.json
cron/log/debug.log
cron/log/debug.log
