{% extends 'scolar/modele_landscape_pdf.html' %}
{% load dictionary %}


{% block signataire %}
{% with 'CERTIFICAT_NON_OBJECTION'|autorite_entete_from_document_programme:inscription_periode.inscription.formation.programme as autorite %}
				<br>
<table style="width:100%">
				<tr> 
					<td style =" text-align: left;"> 
					<p align="left">			{{ autorite.intitule }}</p>
					</td>
					<td></td>
					<td style =" text-align: right; " > 
					<p>{{ autorite.intitule_a }}</p>
					</td> 
				</tr></table>
{% endwith %}
{% with 'CERTIFICAT_NON_OBJECTION'|autorite_from_document_programme:inscription_periode.inscription.formation.programme as autorite %}
    			<p align="left">
					{% if autorite %}
	    				{{ autorite.responsable}}, <br>
						{{ autorite.titre_responsable }}<br>
						{{ institution.nom}}, {{ institution.sigle }}, {{ institution.ville }} <br>
						Email: {{ autorite.responsable.user.email}} <br>
					{% endif %}
    			</p>
    			<br><br><br>
{% endwith %}
{% endblock %}
{% block title %} 
	CERTIFICAT DE NON OBJECTION
{% endblock %}
{% block content %}	
{% with 'CERTIFICAT_NON_OBJECTION'|autorite_from_document_programme:inscription_periode.inscription.formation.programme as autorite %}
<br><br><br>
    <table>
    	<tr>
    		<td>
    			<p align="justify">
    				Je soussigné, {{ autorite.responsable}}, {{ autorite.titre_responsable }}, atteste que: <br><br> 
    				M. (elle) : {{ inscription_periode.inscription.etudiant.nom }} {{ inscription_periode.inscription.etudiant.prenom}} / {{ inscription_periode.inscription.etudiant.nom_a }} {{ inscription_periode.inscription.etudiant.prenom_a }}, <br> 
    				Né(e) le: {{ inscription_periode.inscription.etudiant.date_naissance }} à {{ inscription_periode.inscription.etudiant.lieu_naissance }}<br>
    				Est inscrit(e) à l'{{ institution.nom }} ({{ institution.sigle }}, {{ institution.ville }}) sous N°: {{ inscription_periode.inscription.etudiant.matricule }}. <br>
    				Elle/Il poursuit des études de: <strong>{{ inscription_periode.inscription.formation.programme.diplome.intitule}}.</strong><br><br> 
					Cette année {{inscription_periode.inscription.formation.annee_univ}}/{{inscription_periode.inscription.formation.annee_univ.annee_suivante}}, elle/il doit effectuer un stage de fin d'études. Elle/il a été retenu pour effectuer ce stage
					<strong>Intitulé:</strong> {{inscription_periode.groupe.pfe.intitule}}<br>
					<strong>À: {{inscription_periode.groupe.pfe.organisme.nom}} ({{inscription_periode.groupe.pfe.organisme.sigle}})<br>
					 {{inscription_periode.groupe.pfe.organisme.adresse}} ({{inscription_periode.groupe.pfe.organisme.pays}})<br><br>
					</strong>
					A la fin de son stage (Septembre {{inscription_periode.inscription.formation.annee_univ.annee_suivante}})<strong> Melle/M. {{ inscription_periode.inscription.etudiant.nom }} {{ inscription_periode.inscription.etudiant.prenom}} devra retourner à l' 
					{{ institution.nom}} ({{ institution.sigle }}, {{ institution.ville }}) pour effectuer une soutenance devant un jury.</strong>
					<br><br>
					A l'issue de cette soutenance, le jury se prononcera sur son admission au diplôme : {{ inscription_periode.inscription.formation.programme.diplome }}<br><br>
					Fait pour servir et valoir ce que de droit,
					<br><br><br><br>
    			
    			</p>
    		</td>
    	</tr>
    	<tr>
    		<td>
    			<p align="center">
					{{ institution.ville }}, le: {{ today|date:'d/m/Y' }}	    			
    			</p>
    			
    			<p align="center">
    				{{inscription_periode.inscription.formation.programme.departement.responsable}}<br>
				<br>
				
				{% if view.kwargs.signature == '1' and autorite.signature.name %}
					<img src="{{ autorite.signature.url }}" alt="Signature" width="300" >
				{% else %}
					<br><br><br><br><br><br>
				{% endif %}

    			</p>
    		</td>
    	</tr>
	</table>
{% endwith %}
{% endblock %}