{% load dictionary usergroup %}
{% with 'CERTIFICAT_SCOLARITE_2L'|autorite_entete_from_document_programme:inscription.formation.programme as autorite_entete %}
{% with 'CERTIFICAT_SCOLARITE_2L'|autorite_from_document_programme:inscription.formation.programme as autorite %}
  	<table>
  		<tr>
  			<td>
				<table >
					{% if institution.header %}
		    			<tr>
			    			<td colspan="3">
			        	 		<img src="{{ institution.header.url }}" width="750" height="130" alt="Logo" > 
			    			</td>
		    			</tr>
					{% endif %}
					<tr> 
					{% if autorite_entete %}
						<td style =" text-align: left; margin-left: 0em;"> 
						<p align="left">			{{ autorite_entete.intitule }}</p>
						</td>
						<td></td>
						<td style =" text-align: right; margin-right: 0em;" > 
						<p>{{ autorite_entete.intitule_a }}</p>
						</td>
					{% endif %}
					</tr>
	    			<tr>
	    				<td colspan="3">
	    					<br><br>
							<h1 align="center">
								Certificat de scolarité
							</h1>
							<br><br>
						</td>
	    			</tr>
	    			<tr>
	    				<td colspan="3">
							{% if autorite %} 
	    						{{ autorite.titre_responsable }} de : {{ institution.nom }} atteste que:
							{% endif %}
	    					<br><br>
	    				</td>
	    			</tr>
					<tr>
						<td style="text-align:left;">M (Melle):<br><br></td> 
						<td style="text-align:left;"><strong>{{ inscription.etudiant.nom }}</strong><br><br></td>
						<td style="text-align:left;"><strong>{{ inscription.etudiant.prenom }}</strong><br><br></td>
					</tr>
					<tr>
						<td style="text-align:left;">Né (e) le:<br><br></td>
						<td style="text-align:left;"><strong>{{ inscription.etudiant.date_naissance|date:'d/m/Y'|default_if_none:"" }}</strong><br><br></td>
						<td style="text-align:left;"><strong>{% if inscription.etudiant.lieu_naissance %}à : {{inscription.etudiant.lieu_naissance}}{% endif %}</strong><br><br></td>
					</tr>
					<tr>
						<td style="text-align:left;">Matricule:<br><br></td>
						<td style="text-align:left;"><strong>{{inscription.etudiant.matricule}}</strong><br><br></td>
						<td style="text-align:left;"><br><br></td>
					</tr>
					<tr>	
						<td style="text-align:left;">Est inscrit(e) en:<br><br></td> 
						<td style="text-align:left;" colspan="2"><strong>{{inscription.formation.programme.titre}}</strong><br><br></td>
					</tr>
					{% if inscription.formation.programme.specialite %}
						<tr>	
							<td style="text-align:left;">Option:<br><br></td> 
							<td style="text-align:left;" colspan="2"><strong>{{ inscription.formation.programme.specialite.intitule }}</strong><br><br></td>
						</tr>
					{% endif %}
					<tr>
						<td style="text-align:left;">Durant l'année universitaire: <br><br></td>
						<td style="text-align:left;" colspan="2"><strong>{{inscription.formation.annee_univ}}/{{inscription.formation.annee_univ.annee_suivante}}</strong><br><br></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="3">
							<br><br><br>
							Fait à {{ institution.ville }}, le:	<strong>{{date|date:'d/m/Y'}}</strong>
							<br><br><br><br><br><br>
						</td>
					</tr>
					{% if institution.footer %}
				    	<tr>
					    	<td colspan="3">
					        	 <img src="{{ institution.footer.url }}"  width="750" alt="Logo ESI"> 
					    	</td>
				    	</tr>
					{% endif %}
  				</table>
  			</td>
			<td>
				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>
  				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>
  				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>
  				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>				
			</td>
  			<td>
				<table >
					{% if institution.header %}
		    			<tr>
			    			<td colspan="3">
			        	 		<img src="{{ institution.header.url }}" width="750" height="130" alt="Logo" > 
			    			</td>
		    			</tr>
					{% endif %}
					<tr> 
					{% if autorite_entete %}
						<td style =" text-align: left; margin-left: 0em;"> 
						<p align="left">			{{ autorite_entete.intitule }}</p>
						</td>
						<td></td>
						<td style =" text-align: right; margin-right: 0em;" > 
						<p>{{ autorite_entete.intitule_a }}</p>
						</td>
					{% endif %}
					</tr>
	    			<tr>
	    				<td colspan="3">
	    					<br>
							<h1 align="center">
								شهادة مدرسية
							</h1>
							<br><br><br>
						</td>
	    			</tr>
	    			<tr>
	    				<td style="text-align:right;" colspan="3">
							{% if autorite %} 
	    						يشهد {{ autorite.titre_responsable_a }} ب{{ institution.nom_a }} بان<br><br>
							{% endif %}
	    				</td>
	    			</tr>
					<tr>
						<td style="text-align:right;"><strong>{{ inscription.etudiant.prenom_a|default_if_none:"" }}</strong><br><br></td>
						<td style="text-align:right;"><strong>{{ inscription.etudiant.nom_a|default_if_none:"" }}</strong><br><br></td>
						<td style="text-align:right;">السيد / السيدة<br><br></td> 
					</tr>
					<tr>
						<td style="text-align:right;"><strong>{% if inscription.etudiant.lieu_naissance_a %}ب {{inscription.etudiant.lieu_naissance_a}}{% endif %}</strong><br><br></td>
						<td style="text-align:right;"><strong>{{ inscription.etudiant.date_naissance|date:'d/m/Y'|default_if_none:"" }}</strong><br><br></td>
						<td style="text-align:right;">المولود(ة) في<br><br></td>
						
						
					</tr>
					<tr>
						<td style="text-align:right;"><br><br></td>
						<td style="text-align:right;"><strong>{{inscription.etudiant.matricule}}</strong><br><br></td>
						<td style="text-align:right;">رقم التسجيل<br><br></td>
					</tr>
					<tr>
						<td style="text-align:right;"><strong>{{inscription.formation.programme.titre_a|default_if_none:""}}</strong><br><br></td>	
						<td style="text-align:right;" colspan="2">مسجل (ة) بالمدرسة لمتابعة دراسته (ها) العليا في<br><br></td>
					</tr>
					{% if inscription.formation.programme.specialite %}
						<tr>	
							<td style="text-align:right;" colspan="2"><strong>{{inscription.formation.programme.specialite.intitule_a|default_if_none:""}}</strong><br><br></td>
							<td style="text-align:right;">فرع<br><br></td> 
						</tr>
					{% endif %}
					<tr>
						<td style="text-align:right;" colspan="2"><strong>{{inscription.formation.annee_univ.annee_suivante}}/{{inscription.formation.annee_univ}}</strong><br><br></td>
						<td style="text-align:right;">خلال السنة الجامعية<br><br></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="3">
							<br><br><br><br>
							<strong>{{date|date:'Y/m/d'}}</strong> : {{ institution.ville_a|default_if_none:"" }}  في
							<br><br><br><br><br><br>
						</td>
					</tr>
					{% if institution.footer %}
				    	<tr>
					    	<td colspan="3">
					        	 <img src="{{ institution.footer.url }}"  width="750" alt="Logo"> 
					    	</td>
				    	</tr>
					{% endif %}
  				</table>
  			</td>
  			<td>
				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>
  				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>
  				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>
  				&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>&nbsp&nbsp|&nbsp&nbsp<br>				
  			
  			</td>
  		</tr>
  	</table>

{% endwith %}
{% endwith %}