{% extends 'scolar/index.html' %}
{% load bootstrap4 icons jchart %}
{% block content %}
<a href="{{request.META.HTTP_REFERER}}">Retour</a>
				<h1 class="text-center"><strong> Evaluation de {{ module.matiere.code }} par les étudiants </strong></h1>
				<br><br>
				<div class="row">
					<div class="col-md-6">
						<h5><strong>Introduction</strong></h5>
						<p>
						La direction des études œuvre à systématiser l’évaluation des enseignements par les étudiants chaque semestre. Il s’agit d’une pratique pédagogique universelle ayant pour objectif de faire un retour aux enseignants sur le déroulement de leurs enseignements durant le semestre.
						Il s’agit donc d’analyser la perception du processus d’apprentissage durant tout un semestre par nos élèves. Nous croyons que ce retour ne peut être que positif et nous aidera tous à capitaliser sur les choses qui ont le mieux fonctionné, et d’améliorer les activités qui ont moins bien fonctionné.
						</p>
					</div>
					<div class="col-md-6">
						<h5><strong>Taux de réponse </strong></h5>
						<strong>
							{{ nb_reponses}} / {{ nb_inscrits }}
						</strong>
<!--
						<table class="table table-bordered table-sm">
			    			<thead class="thead-dark">
			    				<tr>
			    					<th>Année</th>
			    					<th>Taille de la population</th>
			    					<th>Taux de réponse</th>
			    					<th>Niveau de confiance</th>
			    					<th>Marge erreur</th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr>
			    					<td>1CP</td>
			    					<td> 263 </td>
			    					<td> 17,87% </td>
			    					<td> 85% </td>
			    					<td> 10% </td>
			    				</tr>
			    				<tr>
			    					<td>2CP</td>
			    					<td> 225 </td>
			    					<td> 24% </td>
			    					<td> 90% </td>
			    					<td> 10% </td>
			    				</tr>
			    				<tr>
			    					<td>1CS</td>
			    					<td> 221 </td>
			    					<td> 19,90% </td>
			    					<td> 85% </td>
			    					<td> 10% </td>
			    				</tr>
			    				<tr>
			    					<td>2ST</td>
			    					<td> 116 </td>
			    					<td> 12,93% </td>
			    					<td> 80% </td>
			    					<td> 15% </td>
			    				</tr>
			    				<tr>
			    					<td>2SQ</td>
			    					<td> 105 </td>
			    					<td> 29,52% </td>
			    					<td> 80% </td>
			    					<td> 10% </td>
			    				</tr>
			    				<tr>
			    					<td>2SL</td>
			    					<td> 52 </td>
			    					<td> 25% </td>
			    					<td> 80% </td>
			    					<td> 15% </td>
			    				</tr>
			    			</tbody>
			    		</table>
-->
			    	</div>
				</div>
				<div class="row">
					<div class="col-md-6">
					<h5><strong> Résultat de l'évaluation de {{ module.matiere.code }} par les étudiants </strong></h5>
    						{{ feedback_chart.as_html }}
					</div>
					<div class="col-md-6">
					<small>
					<h5><strong> Légende </strong></h5>
					<ul>
					{% for question in question_list%}
					<li> <strong>{{ question.code }}</strong> {{ question.intitule }}</li>
					{% endfor %}
					</ul>
					</small>
					</div>
				</div>
				<h5><strong> Commentaires et propositions : </strong></h5>
				<ul>
				{% if show_comments %}
					{% for reponse in feedback_list %}
						{% if reponse.show %}
							{% if reponse.comment %}
							<li>
								{{ reponse.comment }}<br><br>
							</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
				</ul>

{% endblock %}