{% extends 'scolar/index.html' %}
{% load django_tables2 crispy_forms_tags icons bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% block content %}

  <h2>Nos programmes</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#catalogue">Catalogue des matières</a>
    </li>
	{% if institution.activation_ddc %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#Modal">Répartition des crédits</a>
    </li>
	{% endif %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#programmes">Programmes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#diplomes">Diplômes</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#specialites">Spécialités</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#periodes">Périodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#cycles">Cycles</a>
    </li>
{% if institution.activation_ddc %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ddc">Domaines de connaissances</a>
    </li>
{% endif %}

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="catalogue" class="container tab-pane active"><br>
			<h5><strong>Catalogue des Matières :</strong></h5>
			<p class="alert alert-info">
			Ceci est le catalogue des matières enseignées à l'établissement. Vous pouvez restreindre la sélection en utilisant le filtre.
			La répartition des crédits par domaine de connaissance se fera en conséquence.
			</p>
			<!--
			{% crispy filter_matiere.form filter_matiere.form.helper %}
			-->
	    	<form action="" method="get" class="form form-inline">
	    		{% csrf_token %}
	    		{% bootstrap_form filter_matiere.form layout='inline' %}
	    		{% bootstrap_button 'Filtrer' %}
	    	</form>
	    	<br>
			{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
				<a href="{% url "matiere_create" %}" > {% icon 'plus' %} Matière </a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="{% url "matieres_titres_en_arabe_import" %}" > {% icon 'file-excel' %} Importer les titres en arabe </a>
				
				<br>
			{% endif %} 
			
			<br>
			{% render_table table_matiere %}
    </div>

    <div id="programmes" class="container tab-pane fade"><br>
			<h5><strong>Programmes :</strong></h5>
				{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
					<a href="{% url "programme_create" %}" > {% icon 'plus' %} Programme </a>&nbsp;&nbsp;&nbsp;&nbsp;
				{% endif %}
				<a href="{% url "ues_codes_en_arabe_import" %}" > {% icon 'file-excel' %} Importer les codes des UE en arabe </a>&nbsp;&nbsp;
				<a href="{% url "catalogue_programme" %}" target="_blank" class="btn btn-info"> Catalogue Complet</a>
								
				<br>
    			{% render_table table_programme %}
    </div>
    

    <div id="diplomes" class="container tab-pane fade"><br>
			<h5><strong>Diplomes :</strong></h5>
				{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
					<a href="{% url "diplome_create" %}" > {% icon 'plus' %} Diplôme </a>
				{% endif %} 
								
				<br>
    			{% render_table table_diplome %}
    </div>

    <div id="specialites" class="container tab-pane fade"><br>
			<h5><strong>Spécialités :</strong></h5>
				{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
					<a href="{% url "specialite_create" %}" > {% icon 'plus' %} Spécialité</a>
				{% endif %}

    			<br>
    			{% render_table table_specialite %}

    </div>

    <div id="periodes" class="container tab-pane fade"><br>
			<h5><strong>Périodes :</strong></h5>
				{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
					<a href="{% url "periode_create" %}" > {% icon 'plus' %} Période </a>
				{% endif %}
				<br>
    			{% render_table table_periode %}

    </div>

    <div id="cycles" class="container tab-pane fade"><br>
			<h5><strong>Cycles :</strong></h5>
				{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
					<a href="{% url "cycle_create" %}" > {% icon 'plus' %} Cycle </a>
				{% endif %}
				<br>
    			{% render_table table_cycle %}

    </div>
	{% if institution.activation_ddc %}
	    <div id="ddc" class="container tab-pane fade"><br>
				<h5><strong>Domaines de connaissances :</strong></h5>
					{% if perms.scolar.fonctionnalitenav_pedagogie_gestionprogrammes %} 
						<a href="{% url "ddc_create" %}" > {% icon 'plus' %} Domaine de connaissances </a>
					{% endif %}
					<br>
	    			{% render_table table_ddc %}
	
	    </div>
	{% endif %}

  </div>
		{% if institution.activation_ddc %}
		<!-- Modal -->
		<div class="modal fade" id="Modal"  role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Répartition des crédits par domaine de connaissance</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="container-fluid">
					<h5><strong>Répartition des crédits  des matières sélectionnées par domaine</strong></h5>
					{{ repartition_credits_chart.as_html }}
		
				</div> 	
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		      </div>
		    </div>
		  </div>
		</div>	
		{% endif %}	
		


{% endblock %}
