<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
    	@media print {
  			.new-page {
    		page-break-before: always;
  			}
		}
    </style>
	<style>
	table {
		page-break-inside:auto;
	}
	th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	td {
		page-break-before:avoid;
	}
	tr {
         page-break-inside:avoid;
    }
	</style>
	<style type="text/css" media="print">
		 table thead {display: table-header-group;}
		 table tfoot {display: table-footer-group;}
		 table tbody {display: table-row-group;}
	</style>        
    
  </head>
  <body>
  	<small>
	{% for periode in inscription_periode_list %}
		<div class="new-page">
		{% with periode.inscription as inscription %}
			{% if inscription.formation.programme.ordre == 6 %}
				{% include './releve_notes_provisoire_master_content.html' %}
			{% else %}
				{% include './releve_notes_provisoire_content.html' %}
			{% endif %}
		{% endwith %}
		</div>
	{% endfor %}
	</small>
  </body>
 </html>