<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
    	@media print {
  			.new-page {
    		page-break-before: always;
  			}
		}
    </style>
	<style>
	table {
		page-break-inside:auto;
	}
	th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	td {
		page-break-before:avoid;
	}
	tr {
         page-break-inside:avoid;
    }
	</style>
	<style type="text/css" media="print">
		 table thead {display: table-header-group;}
		 table tfoot {display: table-footer-group;}
		 table tbody {display: table-row-group;}
	</style>        
    
  </head>
  <body>
  	<small>
	{% for inscription in inscription_list %}
		<div class="new-page">
		{% include './releve_notes_content.html' %}
		</div>
	{% endfor %}
	</small>

  </body>
 </html>