{% extends 'scolar/index.html' %}
{% load django_tables2 crispy_forms_tags icons bootstrap4 jchart dictionary %}
{% block content %}

  <h2>{{ titre }}</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#pfe">Sujet de Stage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#validation">Mon avis sur le Sujet</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="pfe" class="container tab-pane active"><br>
    	<h3>Sujet de stage N° {{ id_stage }}</h3>
    	{% crispy pfe_form %}
    </div>
    <div id="validation" class="container tab-pane fade"><br>
    	<h3>Mon Avis sur le Sujet de Stage</h3>
    	<br><br>
		{% crispy form %}
		<br>
		<h5>Mes avis précédents sur le sujet</h5>
		{% render_table validation_table %}    	
	</div>
  </div>
{% endblock %}
	

