{% extends 'scolar/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Edit CP</h2>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#cp">CP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ordre_du_jour_cp1">Ordre du jour CP1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ordre_du_jour_cp2">Ordre du jour CP2</a>
    </li>
  </ul>

  <!-- Tab panes -->
    <!-- Tab panes -->
	<form method="post">
		{% csrf_token %}
		<div class="tab-content">
		  <div id="cp" class="container tab-pane active">
			{{ cp_form|crispy }}
		  </div>
	  
		  <div id="ordre_du_jour_cp1" class="container tab-pane fade">
			{{ ordre_du_jour_cp1_formset.management_form }}
			<div id="ordre_du_jour_cp1_container">
			  {% for form in ordre_du_jour_cp1_formset %}
				<div class="dynamic-form">
				  {{ form|crispy }}
				  {% if not form.instance.pk %}Delete: {{ form.DELETE }}{% endif %}
				</div>
			  {% endfor %}
			</div>
			<button type="button" id="add-ordre-du-jour-cp1">Add Ordre du jour CP1</button>
		  </div>
	  
		  <div id="ordre_du_jour_cp2" class="container tab-pane fade">
			{{ ordre_du_jour_cp2_formset.management_form }}
			<div id="ordre_du_jour_cp2_container">
			  {% for form in ordre_du_jour_cp2_formset %}
				<div class="dynamic-form">
				  {{ form|crispy }}
				  {% if not form.instance.pk %}Delete: {{ form.DELETE }}{% endif %}
				</div>
			  {% endfor %}
			</div>
			<button type="button" id="add-ordre-du-jour-cp2">Add Ordre du jour CP2</button>
		  </div>
		</div>
		<button type="submit" class="btn btn-primary">Save changes</button>
	  </form>
	
	  def form_valid(self, form):
	  context = self.get_context_data()
	  ordre_du_jour_cp1_formset = context['ordre_du_jour_cp1_formset']
	  ordre_du_jour_cp2_formset = context['ordre_du_jour_cp2_formset']
  
	  if ordre_du_jour_cp1_formset.is_valid() and ordre_du_jour_cp2_formset.is_valid():
		  self.object = form.save()
  
		  ordres_cp1 = ordre_du_jour_cp1_formset.save(commit=False)
		  for ordre in ordres_cp1:
			  ordre.cp = self.object
			  ordre.cp_type = 'cp1'
			  ordre.save()
		  for ordre in ordre_du_jour_cp1_formset.deleted_objects:
			  ordre.delete()
  
		  ordres_cp2 = ordre_du_jour_cp2_formset.save(commit=False)
		  for ordre in ordres_cp2:
			  ordre.cp = self.object
			  ordre.cp_type = 'cp2'
			  ordre.save()
		  for ordre in ordre_du_jour_cp2_formset.deleted_objects:
			  ordre.delete()
	  else:
		  return self.form_invalid(form)
  
	  return super().form_valid(form)
  
{% endblock %}
