<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
    <style>
        @media print {
            .new-page {
            page-break-before: always;
            }
        }
    </style>
  </head>
  <body>
    <img src="header_image_url" alt="- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - " width="100%">
    <h1 align="center"> Title </h1>
    <br><br>
    <table id="#top" align="center" class="table">
        <thead>
            <tr>
                <th> Programme </th>
                <th> Titre </th>
                <th> Spécialité </th>
                <th> Diplôme </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <a href="#programme_code">Programme Code</a> </td>
                <td> Programme Title </td>
                <td> Programme Speciality </td>
                <td> Programme Diploma </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <div class="container new-page" id="programme_code">
        <!-- Include programme detail content here -->
        <br><br>
        <a href="#top">Retour</a>
        <br><br>
    </div>
    <div class="container new-page" id="matiere_id">
        <!-- Include matiere detail content here -->
        <br><br>
        <a href="#top">Retour</a>
    </div>
  </body>
</html>