{% extends 'scolar/modele_landscape_pdf.html' %}
{% load django_tables2 crispy_forms_tags bootstrap4 jchart icons usergroup dictionary %}
{% block content %}
	<!-- {% with 'FICHE_INSCRIPTION'|autorite_entete_from_document_programme:inscription.formation.programme as autorite %} -->
<table width="100%">
				<!-- <tr> 
					{% if autorite %}
						<td style =" text-align: left; margin-left: 0em;"> 
						<p align="left">			{{ autorite.intitule }}</p>
						</td>
						<td></td>
						<td style =" text-align: right; margin-right: 0em;" > 
						<p> {{ autorite.intitule_a }}</p>
						</td>
					{% endif %} 
				</tr></table>
	{% endwith %} -->
 	<!-- <br>
	<h1 style="text-align: center;">Fiche d'Inscription {{inscription.formation.annee_univ.annee_univ}}/{{inscription.formation.annee_univ.annee_suivante.annee_univ}}</h1>
	<br><br>
	<div style="text-align: center;" class="row">
		<div class="col-md-6">
			<h3 class="text-center"> <strong>Matricule: </strong>{{ inscription.etudiant.matricule }} </h3>
		</div>
		{% if inscription.etudiant.photo.name %}
		<div class="col-lg-2" alt"Photo">
			<img src="{{ inscription.etudiant.photo.url }}" height="230">
		</div>
		{% else %}
			<strong>PHOTO</strong>
		{% endif %}
	</div> -->
    <h1 align="center">PROCES-VERBaL DU COMITE PEDAGOGIQUE No 2</h1>
    <h1 align="center">treannée classe préparatoife</h1>
    <p>
      L'an deux mille vingt-trois et le 05 du mois de Mai & 13 h.30, s'estenpe
      la reunion du comité pédagogique de la 2trannée classe préparatoire,
      présidée par Dr.Berbague Chemseddinc. Le débat a été lancé autour de
      l'ordre du jour suivant : 1. Avancement des enseignements (cours, travaux
      dirigés et travaux pratiques). 2. Les examens semestriels et l'examen de
      passage. 3. Divers. Etaient pr
    </p>
    <br /><br />
    <table id="#top" align="center" class="table">
      <thead>
        <tr>
          <th>Programme</th>
          <th>Titre</th>
          <th>Spécialité</th>
          <th>Diplôme</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#programme_code">Programme Code</a></td>
          <td>Programme Title</td>
          <td>Programme Speciality</td>
          <td>Programme Diploma</td>
        </tr>
      </tbody>
    </table>
    <br /><br />
    <div class="container new-page" id="programme_code">
      <!-- Include programme detail content here -->
      <br /><br />
      <a href="#top">Retour</a>
      <br /><br />
    </div>
    <div class="container new-page" id="matiere_id">
      <!-- Include matiere detail content here -->
      <br /><br />
      <a href="#top">Retour</a>
    </div>
				
				
			
	<br><br><br><br><br><br>
	
{% endblock %}
